.card {
    min-width: 6rem;
    padding: 1rem;
    background-color: var(--card-bg-color);
    color: #000000;
    border-radius: 5px;
    box-shadow: 3px 5px 6px #00000044;
    list-style-type: none;
    transition: transform 400ms ease;
}

.card:hover {
    transform: scale(1.05);
}

.card:focus {
    transform: none;
}

.card:focus-visible {
    outline: 2px solid var(--card-bg-color);
}

img {
    max-width: 100%;
    height: auto;
    background-color: white;
    border-radius: 5px;
}

figure {
    display: flex;
    flex-direction: column;
}

figcaption {
    text-align: center;
    font-size: 1.2rem;
    color: white;
}