* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main, header {
    padding: 1rem min(8%, 2rem);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > * {
    flex: 1;
}

h3 {
    text-align: end;
}

.cardList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 1.5rem;
}