* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main, header {
    padding: 1rem min(6%, 2rem);
    color: white;
}

.scoreboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1rem;
}

h1 {
    flex-shrink: 1;
}

.scoreboard > div {
    flex-shrink: 0;
}

h2 {
    text-align: end;
}

.cardList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 1.5rem;
}

@media (max-width: 500px) {
    .cardList {
        grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    }
}