* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding: 2rem;
}

.cardList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 1.5rem;
}